<a href="https://colab.research.google.com/github/tkasod2/TIL/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%A4%80%EB%B9%84%EC%9A%A9_%ED%9D%90%EB%A6%84%ED%8C%8C%EC%9D%BC2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sklearn
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
# !unzip -q '/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제1유형.zip' -d '/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제1유형'
# !unzip -q '/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제2유형.zip' -d '/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제2유형'

## 작업형 1번

In [ ]:
# df.loc[~df['path'].str.startswith('/')==True,'path']=\
# "/"+df.loc[~df['path'].str.startswith('/')==True,'path']

In [ ]:
'''
mtcars 데이터셋(mtcars.csv)의 qsec 컬럼을 최소최대 척도(Min-Max Scale)로 변환한 후 0.5보다
큰 값을 가지는 레코드 수를 구하시오.
'''

'\nmtcars 데이터셋(mtcars.csv)의 qsec 컬럼을 최소최대 척도(Min-Max Scale)로 변환한 후 0.5보다\n큰 값을 가지는 레코드 수를 구하시오.\n'

In [3]:
data1 = pd.read_csv('/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제1유형/mtcars.csv')

In [ ]:
# print(help(sklearn))

In [4]:
import sklearn.preprocessing
scaler = sklearn.preprocessing.MinMaxScaler()
data1['qsec_new'] = scaler.fit_transform(data1['qsec'].values.reshape(-1,1))
answer = len(data1[data1['qsec_new']>0.5])
print(answer)

9

In [5]:
sscaler = sklearn.preprocessing.StandardScaler()
data1['qsec_standardscaler'] = sscaler.fit_transform(data1['qsec'].values.reshape(-1,1))
data1

             Unnamed: 0   mpg  cyl  ...  carb  qsec_new  qsec_standardscaler
0             Mazda RX4  21.0    6  ...     4  0.233333            -0.789601
1         Mazda RX4 Wag  21.0    6  ...     4  0.300000            -0.471202
2            Datsun 710  22.8    4  ...     1  0.489286             0.432823
3        Hornet 4 Drive  21.4    6  ...     1  0.588095             0.904736
4     Hornet Sportabout  18.7    8  ...     2  0.300000            -0.471202
5               Valiant  18.1    6  ...     1  0.680952             1.348220
6            Duster 360  14.3    8  ...     4  0.159524            -1.142114
7             Merc 240D  24.4    4  ...     2  0.654762             1.223135
8              Merc 230  22.8    4  ...     2  1.000000             2.871986
9              Merc 280  19.2    6  ...     4  0.452381             0.256567
10            Merc 280C  17.8    6  ...     4  0.523810             0.597708
11           Merc 450SE  16.4    8  ...     3  0.345238            -0.255145
12           Merc 450SL  17.3    8  ...     3  0.369048            -0.141432
13          Merc 450SLC  15.2    8  ...     3  0.416667             0.085996
14   Cadillac Fleetwood  10.4    8  ...     4  0.414286             0.074625
15  Lincoln Continental  10.4    8  ...     4  0.395238            -0.016346
16    Chrysler Imperial  14.7    8  ...     4  0.347619            -0.243774
17             Fiat 128  32.4    4  ...     1  0.591667             0.921793
18          Honda Civic  30.4    4  ...     2  0.478571             0.381652
19       Toyota Corolla  33.9    4  ...     1  0.642857             1.166278
20        Toyota Corona  21.5    4  ...     1  0.655952             1.228820
21     Dodge Challenger  15.5    8  ...     2  0.282143            -0.556487
22          AMC Javelin  15.2    8  ...     2  0.333333            -0.312002
23           Camaro Z28  13.3    8  ...     4  0.108333            -1.386598
24     Pontiac Firebird  19.2    8  ...     2  0.303571            -0.454145
25            Fiat X1-9  27.3    4  ...     1  0.523810             0.597708
26        Porsche 914-2  26.0    4  ...     2  0.261905            -0.653144
27         Lotus Europa  30.4    4  ...     2  0.285714            -0.539430
28       Ford Pantera L  15.8    8  ...     4  0.000000            -1.903996
29         Ferrari Dino  19.7    6  ...     6  0.119048            -1.335427
30        Maserati Bora  15.0    8  ...     8  0.011905            -1.847139
31           Volvo 142E  21.4    4  ...     2  0.488095             0.427138

[32 rows x 14 columns]

## 작업형 2번

In [ ]:
''' 고객 3,500명에 대한 학습용 데이터(y_train.csv, X_train.csv)를 이용하여 성별예측 모형을 만든
후, 이를 평가용 데이터(X_test.csv)에 적용하여 얻은 2,482명 고객의 성별 예측값(남자일 확률)을
다음과 같은 형식의 CSV 파일로 생성하시오.(제출한 모델의 성능은 ROC-AUC 평가지표에 따라
채점) 

<유의사항>
 성능이 우수한 예측모형을 구축하기 위해서는 적절한 데이터 전처리, Feature Engineering, 분류
알고리즘 사용, 초매개변수 최적화, 모형 앙상블 등이 수반되어야 한다.'''

' 고객 3,500명에 대한 학습용 데이터(y_train.csv, X_train.csv)를 이용하여 성별예측 모형을 만든\n후, 이를 평가용 데이터(X_test.csv)에 적용하여 얻은 2,482명 고객의 성별 예측값(남자일 확률)을\n다음과 같은 형식의 CSV 파일로 생성하시오.(제출한 모델의 성능은 ROC-AUC 평가지표에 따라\n채점) \n\n<유의사항>\n 성능이 우수한 예측모형을 구축하기 위해서는 적절한 데이터 전처리, Feature Engineering, 분류\n알고리즘 사용, 초매개변수 최적화, 모형 앙상블 등이 수반되어야 한다.'

In [ ]:
aa = numeric_X[[x for x in numeric_X.columns if x not in ['cust_id','구분']]]
encod = sklearn.preprocessing.StandardScaler()
bb = pd.DataFrame(encod.fit_transform(aa))
bb.columns = aa.columns
bb

          총구매액     최대구매액      환불금액      내점일수   내점당구매건수    주말방문비율      구매주기
0    -0.163544 -0.278459 -0.051427 -0.013603  0.576894  0.785662 -0.150280
1    -0.558135 -0.552530 -0.248711 -0.650806 -0.718794 -1.051729 -0.803785
2    -0.551806 -0.567452 -0.257733 -0.650806 -0.448266 -1.051729 -0.803785
3    -0.474968 -0.468489 -0.257733 -0.051086 -0.207796  0.057558 -0.191125
4    -0.397583  0.103943 -0.257733 -0.650806 -0.718794 -1.051729  2.627116
...        ...       ...       ...       ...       ...       ...       ...
5977 -0.078247  0.103223 -0.257733 -0.425911 -0.583530  1.189484  0.789133
5978 -0.568014 -0.602251 -0.257733 -0.688289 -0.989323 -1.051729 -0.844629
5979  0.980144  0.156487 -0.257733 -0.013603  0.491464  2.139983 -0.109436
5980 -0.040009 -0.072605 -0.257733 -0.538359  0.417425  0.497751  1.606014
5981 -0.567156 -0.610388 -0.257733 -0.650806  1.174904 -1.051729  0.421536

[5982 rows x 7 columns]

In [21]:
categorical_columns = ['주구매상품','주구매지점']
useless_columns = ['cust_id', '구분']
numeric_columns = [x for x in X_train.columns if x not in categorical_columns]
numeric_columns = [x for x in numeric_columns if x not in useless_columns]
numeric_columns

['총구매액', '최대구매액', '환불금액', '내점일수', '내점당구매건수', '주말방문비율', '구매주기']

In [37]:
# Data 불러오기
X_train = pd.read_csv('/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제2유형/X_train.csv', encoding='euc-kr')
X_test = pd.read_csv('/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제2유형/X_test.csv', encoding='euc-kr')
y_train = pd.read_csv('/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제2유형/y_train.csv', encoding='euc-kr')

# import
import sklearn
import sklearn.preprocessing
import pandas

# X_data Merge (for One hot encoding)
X_train['구분'] = 'train'
X_test['구분'] = 'test'
X_data = pd.concat([X_train,X_test],ignore_index = True)

print(X_data.head())
print(y_train.head())
print(X_data.isna().sum())
X_data.fillna(0, inplace=True)
print(X_data.isna().sum())
print('='*100)

# column 정의
categorical_columns = ['주구매상품','주구매지점']
useless_columns = ['cust_id', '구분']
numeric_columns = [x for x in X_train.columns if x not in categorical_columns]
numeric_columns = [x for x in numeric_columns if x not in useless_columns]
numeric_columns

# 범주형 col처리 one hot encoding
encoder = sklearn.preprocessing.OneHotEncoder(categories='auto', sparse=False)
categorical_X = pd.DataFrame(encoder.fit_transform(X_data[categorical_columns]))
categorical_X.columns = encoder.get_feature_names(X_data[categorical_columns].columns)

# 연속형 col처리 Standard Scaling
temp = X_data[numeric_columns]
stdscaler = sklearn.preprocessing.StandardScaler()
numeric_X = pd.DataFrame(stdscaler.fit_transform(temp))
numeric_X.columns = temp.columns

# 미처리 cols 까지 함께 merge
useless_X = X_data[useless_columns]

X = pd.concat([useless_X, numeric_X,categorical_X], axis = 1)
X_train = X[X['구분']=='train']
X_test = X[X['구분']=='test']

print(X_train.head())
print(X_test.head())
print('='*100)

#Modeling
import sklearn.ensemble
import sklearn.neural_network

# 사용하지 않는 Columns 삭제
del X_train['구분']
del X_train['cust_id']
del X_test['구분']
del X_test['cust_id']
del y_train['cust_id']

# model fitting
print("="*40, "GDB", "="*40)
clf_gdb = sklearn.ensemble.GradientBoostingClassifier(max_depth = 5,n_estimators = 500, learning_rate = 0.01 ,random_state=999)
clf_gdb.fit(X_train, y_train)
print("="*100)
clf_mlp = sklearn.neural_network.MLPClassifier()
clf_mlp.fit(X_train,y_train)
print("="*100)


# 평가
print(f'GDB train score : {round(clf_gdb.score(X_train,y_train),4)}')
print(f'MLP train score : {round(clf_mlp.score(X_train,y_train),4)}')
print('='*100)
# out file 생성
out_gdb = pd.DataFrame(clf_gdb.predict(X_test))
out_mlp = pd.DataFrame(clf_mlp.predict(X_test))
# out.to_csv('22222.csv')

   cust_id      총구매액     최대구매액       환불금액  ...   내점당구매건수    주말방문비율  구매주기     구분
0        0  68282840  11264000  6860000.0  ...  3.894737  0.527027    17  train
1        1   2136000   2136000   300000.0  ...  1.500000  0.000000     1  train
2        2   3197000   1639000        NaN  ...  2.000000  0.000000     1  train
3        3  16077620   4935000        NaN  ...  2.444444  0.318182    16  train
4        4  29050000  24000000        NaN  ...  1.500000  0.000000    85  train

[5 rows x 11 columns]
   cust_id  gender
0        0       0
1        1       0
2        2       1
3        3       1
4        4       0
cust_id       0
총구매액          0
최대구매액         0
환불금액       3906
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
구분            0
dtype: int64
cust_id    0
총구매액       0
최대구매액      0
환불금액       0
주구매상품      0
주구매지점      0
내점일수       0
내점당구매건수    0
주말방문비율     0
구매주기       0
구분         0
dtype: int64
====================================================================================================
   cust_id     구분      총구매액  ...  주구매지점_창원점  주구매지점_청량리점  주구매지점_포항점
0        0  train -0.163544  ...        0.0         0.0        0.0
1        1  train -0.558135  ...        0.0         0.0        0.0
2        2  train -0.551806  ...        0.0         0.0        0.0
3        3  train -0.474968  ...        0.0         0.0        0.0
4        4  train -0.397583  ...        0.0         0.0        0.0

[5 rows x 75 columns]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

      cust_id    구분      총구매액  ...  주구매지점_창원점  주구매지점_청량리점  주구매지점_포항점
3500     3500  test -0.147929  ...        0.0         0.0        0.0
3501     3501  test  1.281570  ...        0.0         0.0        0.0
3502     3502  test  1.250139  ...        0.0         0.0        0.0
3503     3503  test -0.525575  ...        0.0         0.0        0.0
3504     3504  test -0.560164  ...        0.0         1.0        0.0

[5 rows x 75 columns]
====================================================================================================
======================================== GDB ========================================
====================================================================================================

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

====================================================================================================
GDB train score : 0.7597
MLP train score : 0.8174
====================================================================================================

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,